html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
img {
    width: 100%;
    height: auto;
}
#parent{
    padding: 0;
    margin:0 auto;
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
}

.parent{
    position:relative;    
}
.blue{
    color:#04BEF3;
}

.comework{
    font-size:53px;
    font-weight: 800;
    margin:0;
    margin-top:3px;
}
#few{
    font-weight: 90;
    font-size: 18px;
}
#loc{
    margin:0;
}
.inside-header{
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button {
    text-align: center;
    padding:7px;
    margin:auto;
    border-radius: 7px;
    border: 2px solid  #04BEF3;
    display: inline-block;
    background-color: #04BEF3;
    margin-top: 5px;
    margin-left:35%;
    margin-right:35%;
    font-size:0.8em;
}

#buttontr{
   /* position: relative;
    left:880%;
    top:30px;*/
    position: inherit;
    top:0;
   right:0;
    margin-left: auto ;
    border-radius: 7px;
    border: 2px solid  #ffffff;
    color: white;
    padding:  5px 11px 5px 11px;
    

}

#talented{
    text-align: center;
    font-size:35px;
    margin:0;
    margin-top:70px;
    color:#24202E;
}

#join{
    color:#24202E;
    font-weight: lighter;
    margin-top:50px;
    margin-bottom: 60px;
    margin-left: 19%;
    margin-right: 19%;
}
#passion{
    font-weight:lighter;
    text-align: center;
    color:#24202E;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 15px;
}

#location{
    font-weight:bold;
    text-align: center;
    color:#24202E;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 100px;
}

#left{
    text-align: left;
    float: left;
    margin-left: 5%;
    width:15%;
}

#center{
    text-align: left;
    float: left;
    margin-left:22.5%;
    margin-right:22.5%;
    width:15%;
}

#right{
    text-align: left;
    float: left;
    margin-right:5%;
    width:15%;
}

.title{
    font-size:12px;
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 4px;

}

.light{
    font-size:12px;
    font-weight: lighter;
    margin:3px;
}

.footer{
    background-color: #24202E;
    color:white;
    margin-top:100px;
}

.footer img{
    width:18px;
    height: 18px;
    margin-right: 10px;
}

#Bigest{
    font-size:48px;
    font-weight: 800;
    text-align: center;
    margin-top:30px;
    padding-top: 30px;
}

#Biger{
    font-size:40px;
    font-weight: normal;
    text-align: center;
}

.c{
    display: table;
    margin: 0 auto;
}
